@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* body{
    font-family: 'Rubik', sans-serif;
} */

/* element name selectors, which styles all the element/ */
h3{
    color: red;
    font-size: 40px;
}
h4{
    color: yellow;
}
a{
    color: green;
    font-size: 30px;
}

h5{
    color: #3bc0bb;
    font-size: 50px;
}
h6{
    color: turquoise;
    font-size: 50px;
}
/* element name selectors, which styles all the element/ *

 /*
  1. class name selectors, which styles the element based on the class name/ 
  2. we can reuse class names
  3. element can have more than one class name
 
  */
  .another-one{
      color: lawngreen;
      font-weight: 700;
  }
 .heading3-secondone{
    color: lightcoral;
 }

 .yesection p{
     color: goldenrod;
 }

p .yesection{
    
}