/* we use this to remove all the default spacing */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* we use this to remove all the default spacing */


.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: black;
}

#myown {
  color: yellow;
}

/* .today::first-line{
    color: blueviolet;
    font-size: 40px;
}

.today::first-letter{
    /* font-size: 50px; 
} */

b {
  color: red;
  font-size: 50px;
}
b:hover{
  color: indianred;
}

::placeholder {
  color: green;
}

::selection {
  color: black;
  background-color: brown;
}

[placeholder]{
  color:blue;
}

a:hover{
  color: green;
}

.hoverme{
  display: none;
  background-color: yellow;
}

div:hover .hoverme {
  display: block;
}

ul li:nth-child(even){
  color: indigo;
}

ul li:nth-child(odd){
  color: indigo;
}
/* grouping selector */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table tr:first-child{
  background-color: green;
  color: indigo;
}

table tr:last-child{
  color: indigo;
  background-color: red;
}

ol li{
  color: violet;
}

/* a descendant selector */
nav a{
  color: turquoise;
}

section.come{
  color: red;
}

*{
 color: maroon;
 
}

.subhead{
  color: rgb(234, 230, 102);
  /* font-size: 150px; */
}

/* #idsubhead{
  color: yellow;
} */

h6{
  color: turquoise;
}


.percent-arent{
  width: 400px;
  height: 400px;
  background-color: brown;
  /* pTB and pLR */
  padding: 0px 40px;
  padding-top: 30px;

   /* border takes three values 
        1. the border-thickness
        2. the border-style
        3. the border-color    
  */
  border:2px solid green;
}

/* using relative unit(percentage unit) */
.percent-child{
  width: 100%;
  height: 100px;
  background-color: yellow;
  /* margin-top: 62px; */
  margin-bottom: 2px;
  /* margin-left: 2px;
  margin-right: 2px; */
  /* TRouBLe */
  /* margin: 20px 0px 20px 0px; */
  /* mTB and mLR/////////// */
  /* margin: 20px 0px; */
  /* margin on all sides */
  /* margin: 30px; */

}

.percent-child2{
  width: 100%;
  height: 100px;
  background-color: lime;
  margin-top: 10px;
}

/* using vw(view-port-width) for the width unit 

 using vh(view-port-height) for height unit
*/

.vh-parent{
  width: 100%;
  height: 50vh;
  background-color: hotpink;
}

.em-parent{
  /* font-size: 20px; */
  /* default font-size is always 16px expect you change it */
  width: 20em;
  
  height: 50em; 
  background-color: rgb(105, 168, 255);
}

/* html{
  font-size: 40px;
} */



















.rem-parent{
  /* font-size: 20px; */
  /* default font-size is always 16px expect you change it */
  width: 20rem;
  height: 50rem;
  background-color: rgb(13, 225, 182);
}












