@media(max-width:500px){
    header{
        flex-direction: column;
    }

    header h1 {
       margin-bottom: 20px;
    }

    header nav {
        display: flex;
        gap: 20px;
    }

    header a {
        margin-right: 0px;
    }

    .hero-section {
        padding-top: 200px;
        height: 70vh;
        background-position-x: center;
}


    .hero-section h1 {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .hero-section p {
        font-size: 20px;
    }
    .westday,.sunday,.counseling{
        width: 100%;
    }


}


@media(max-width:375px){
    header h1 {
        margin-bottom: 8px;
        font-size: 20px;
    }

    header a {
        font-size: 12px;
    }

    .hero-section {
        min-height: 70vh;
    }
}