@media(max-width:500px){
    header{
        flex-direction: column;
    }

    header h1 {
       margin-bottom: 20px;
    }

    header nav {
        display: flex;
        gap: 20px;
    }

    header a {
        margin-right: 0px;
    }
}