@media(max-width:768px){
    header{
        align-items: center;
    }

    header nav {
        gap: 50px;
    }

    .hero-section {
        background-position-x: center;
    }

    .services{
        flex-direction: column;
    }

    .westday,.sunday,.counseling{
        width: 100%;
    }

}

@media(max-width:500px){
    header{
        align-items: center;
    }

    .main-links{
        display: none;
    }

    button.btn-open{
        display: block;
    }

    .hero-section {
        background-position-x: center;
    }

    .hero-section h1 {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .hero-section p {
        font-size: 20px;
    }

}

@media(max-width:375px){
    header h1 {
        font-size: 20px;
    }

    header a {
        font-size: 12px;
    }

    .hero-section {
        min-height: 70vh;
    }
}

@media(max-width:320px){
    header nav {
        gap: 11px;
    }

    header a {
        font-size: 11px;
    }

    .hero-section {
        min-height: 70vh;
    }

    .hero-section h1 {
        font-size: 35px;
        margin-bottom: 11px;
    }

    .hero-section p {
        font-size: 16px;
    }

    .westday::before {
        top: 30px;
        left: 114px;
        padding: 5px;
    }
    .counseling::before {
        top: 30px;
        left: 114px;
        padding: 5px;
    }
}